<!-- BARRA DE MENU -->
<header>
    <nav id="menu-navegacion" class="navbar navbar-dark color-nav navbar-expand">
        <div class="container">
            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav">
                    
                    <li><a href="#" class="nav-link "><i class="fas fa-user fa-lg mr-1"></i>Usuarios</a></li>
                    <li><a href="#" class="nav-link">Total<i class="fas fa-cart-arrow-down fa-lg ml-1"></i></a></li>
                    
                    <li>
                    
                    <div>

                        <!-- <span class="fas fa-search mr-1 fa-lg "></span> -->
                        <input type="text" class="form-control buscador" placeholder="Buscar">
                    </div>
                        
                        
                    </li>

                    
                    
                    
                </ul>
            </div>
        </div>
        
    </nav>
</header>
