<!-- BARRA DE CONTACTOS -->
<!-- <section id="barra-contacto" class="color-inicio text-white py-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-3">                
                <i class="fas fa-user"></i><span>Logo</span>
            </div>
            <div class="col-6">                
                <i class="fas fa-map-marker-alt mr-2"></i><span>Manzana 17 Casa 5</span>
            </div>            

            <div class="col-3" >
                <ul class="redes-sociales list-unstyled d-inline-flex mb-0">
                    <li class="mr-3"><a href="#"><i class="fab fa-facebook-f facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube youtube"></i></a></li>
                </ul>
            </div>
            
        </div>
    </div>
</section> -->


<!-- BARRA DE MENU -->
<nav id="menu-navegacion" class="navbar navbar-dark color-nav navbar-expand">
    <div class="container">
        <div class="collapse navbar-collapse" id="menu-principal">
            <ul class="navbar-nav">
                
                <li><a href="#" class="nav-link "><i class="fas fa-user fa-lg mr-1"></i>Iniciar sesión</a></li>
                <li><a href="#" class="nav-link">Total<i class="fas fa-cart-arrow-down fa-lg ml-1"></i></a></li>
                <li><a href="#" class="nav-link"><i class="fas fa-search mr-1 fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
    
</nav>


<!-- BARRA LATERAL -->
<div id="aside" class="col-12 col-md-2">
    <aside class="esconder">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false"  aria-label="menu principal">
          <span>Productos</span>  
          <i class="fas fa-chevron-down control"></i>
            
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 14</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 24</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 24</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 24</a>
              </li>
          </ul>
        
        
    </aside>
</div>

<!-- CONTENIDO CENTRAL -->
<div id="content">
  <article>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ad voluptate veniam, qui minus corporis beatae commodi necessitatibus fugit blanditiis dolor! Eius tempore, voluptate rem minus quae a sed magni.
  </article>
</div>


